# Modifications to the source code should be handled by the code review team
*.java                             @westkevin12
/.readthedocs.yml                  @westkevin12
/jitpack.yml                       @westkevin12
/build.gradle.kts                  @westkevin12
/settings.gradle.kts               @westkevin12
/gradle/                           @westkevin12
/gradlew                           @westkevin12
/gradlew.bat                       @westkevin12
/gradle.properties                 @westkevin12

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @westkevin12
/CONTRIBUTING.md                   @westkevin12
/README.md                         @westkevin12
/LICENSE                           @westkevin12

# Modifications to the logo should require be reviewed by maintainers and logo designer.
/logo.png                          @westkevin12

# This file is handled by Seeseemelk (admins have overwrite access anyway)
/.github/CODEOWNERS                @westkevin12
